body {
    color: red;
    text-align: center;
    background-image: url("https://wallpapercave.com/dwp2x/8sKMNhS.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

footer {
    font-style: italic;
    font-size: x-small;
    color: antiquewhite;
}

.photo {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    image-rendering: auto;
    height: 450px;
    width: 800px;
    border: 2px solid antiquewhite;
}

img {
    width: 100%;
    height: 100%;
}


.container {
    background-color: antiquewhite;
    color: black;
    padding-bottom: 2em;
    margin: 1em;

}
